services:
  redis:
    image: redis:7-alpine
    container_name: counsultancy_redis
    restart: unless-stopped
    networks:
      - dokploy-network

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: counsultancy_web
    entrypoint: /app/entrypoint.sh
    env_file:
      - .env
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    networks:
      - dokploy-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: counsultancy_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./staticfiles:/app/staticfiles:ro
      - ./media:/app/media:ro
    depends_on:
      - web
    networks:
      - dokploy-network
    restart: unless-stopped

networks:
  dokploy-network:
    external: true
    name: dokploy-network
